@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --blue-theme-background-color: #ffffff;
  --blue-theme-main-color: #000000;
  --blue-theme-sub-text-color: #000000;
  --blue-theme-nav-background-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var(--blue-theme-background-color);
  height: 100%;
}

#root {
  height: 100%;
}
