.navbar {
  background-color: var(--blue-theme-nav-background-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0px 20px;
    flex: 1;

    &__logo {
      color: var(--blue-theme-main-color);
      cursor: pointer;
    }

    &__menu {
      display: flex;
      list-style: none;
      text-align: center;

      &__item {
        line-height: 40px;
        margin-right: 1.5rem;
        font-size: 1.6rem;

        &::after {
          content: "";
          display: block;
          height: 3px;
          width: 0;
          background: transparent;
          transition: all 0.5s ease;
        }

        &:hover::after {
          width: 100%;
          background: var(--blue-theme-main-color);
        }

        &__links {
          color: var(--blue-theme-sub-text-color); // Change color to white
          text-decoration: none;
          padding: 0.5rem;
          pointer-events: auto; // Ensure the links are clickable
        }
      }
    }
  }
}

.nav-icon {
  display: none;
}

//* Making the mobile view navbar have the oposite background color to the link text from the desktop one  *//
@media only screen and (max-width: 768px) {
  .navbar__container__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1000;

    &.active {
      background: var(--blue-theme-main-color);
      left: 0px;
      opacity: 1;
    }

    &__item {
      border-bottom: 1px solid var(--blue-theme-nav-background-color);
      margin: 0px;
      padding: 20px 0px;

      &__links {
        color: var(--blue-theme-nav-background-color);
        text-decoration: none;
        padding: 0.5rem;
        pointer-events: auto;

        &:hover {
          color: var(--blue-theme-nav-background-color);
        }
      }
    }
  }

  .nav-icon {
    display: block;
    cursor: pointer;
    color: var(--blue-theme-main-color);
    padding-right: 20px;
  }
}

body.menu-open {
  pointer-events: none;
}

.navbar__container__menu {
  pointer-events: auto;
}
